@import 'color-palette';
@import 'font';

.base-text {
  font-family: $font-family-roboto;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  @extend .base-text;
  background-image: url("../img/bg.jpg");
  margin-bottom: 100px;
  background-size: cover;
}

#header {
  @extend .base-text;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin-bottom: 70px;
  background-color: $blue-green;
}

#footer {
  @extend .base-text;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $blue-green;
}

.article {
  &-title {
    @extend .base-text;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  &-box {
    @extend .base-text;
    padding: 20px;
    font-size: 16px;
    background-color: $light-brown;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  &-content-image {
    text-align: center;
    margin: 10px 10px;
  }
}