@import url(https://fonts.googleapis.com/css?family=Roboto);

$font-main: 'Roboto', sans-serif;
$color-main: black;
$blue-transparent: rgba(149,185,199,0.3);
$light-brown: rgba(199,163,149,0.3);

.base-text {
  font-family: $font-main;
  color: $color-main;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  @extend .base-text;
  background-image: url("../img/bg.jpg");
  margin-bottom: 50px;
  background-size: cover;
}

#header {
  @extend .base-text;
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-color: $blue-transparent;
}

#footer {
  @extend #header;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.title {
  @extend .base-text;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.content {
  @extend .base-text;
  padding: 20px;
  font-size: 12px;
  background-color: $light-brown;
}

.content-image {
  text-align: center;
}